<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   
   <div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Log In</h2>
            <span>Log in for the existing users</span>
        </div>
        <form action="/" method="post" class="pt-3">
            <input type="email" class="email" name="email" id="email">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
   </div>
 
 </body>
 </html>